<!--
<h1 class="d-flex justify-content-center align-items-center h-100 text-uppercase">Angular rocks!</h1>
-->

<mat-toolbar color="secondary">
    <button mat-icon-button (click)="snav.toggle()" class="me-1"><mat-icon>menu</mat-icon></button>
    <a href="javascript:void(0);" routerLink="/">Pokedex</a>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #snav>
        <mat-nav-list>
            <a mat-stroked-button routerLink="/caught" routerLinkActive="link-active" class="text-uppercase" (click)="snav.toggle()">My Pokemon</a>
            <a mat-stroked-button routerLink="/wish" routerLinkActive="link-active" class="text-uppercase" (click)="snav.toggle()">Wishlist</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>