
.mat-sidenav {
    min-width: 150px;
    padding: 16px;
    a { margin: 10px 0; }
    .mat-nav-list { display: table-caption; }
}

.mat-sidenav-content {
    height: calc(100vh - 120px);
    // overflow: hidden ;
    overflow-y: auto;
    overflow-x: hidden;
}

.letter-thin { font-weight: 100; }

@media only screen and (max-width: 550px) {
    ::ng-deep .mat-paginator-page-size {
        display: none !important;
    }
}
