<mat-paginator (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="pageSizeOptions"
></mat-paginator>

<mat-sidenav-container>

    <mat-sidenav-content>
        <div class="row mt-3" *ngIf="(pokemon$ | async)?.results as pokemons; else loading">
            <div *ngFor="let pokemon of pokemons; index as i" class="col-lg-3 mt-3 mb-3">

                <h2 class="text-center text-uppercase mt-3 mb-3">{{ pokemon.name }}</h2>

                <div [hidden]="!imageLoader"><mat-spinner class="m-auto"></mat-spinner></div>
                <img [hidden]="imageLoader" (load)="this.imageLoader=false;" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{ pokemon.url.split('/')[6] }}.png" alt="image" width="100%">

                <div class="d-flex justify-content-evenly">
                    <h2 class="letter-thin">#{{ pokemon.url.split('/')[6] }}</h2>
                    <a class="mt-1" (click)="toggleButton(pokemon.url.split('/')[6]);">
                        <mat-icon *ngIf="!isShow">favorite_border</mat-icon>
                        <mat-icon *ngIf="isShow">favorite</mat-icon>
                    </a>
                </div>
                
            </div>
        </div>

        <ng-template #loading>
            <div class="d-flex justify-content-center align-items-center h-100">
                <mat-spinner></mat-spinner>
            </div>
        </ng-template>

    </mat-sidenav-content>

</mat-sidenav-container>

